html, body { height: 100%;     background-color:white ;}
footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
/* #root{
  height: 100% 
} */
.tableaux{

  transition: transform .3s; 
  
}

.img-size{
  width: 300px;
  height: 300px;
  object-fit:cover;

  margin-left: 5%;
  margin-right: 5%;

}
.tableaux:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.logo_add_image{
  width: 3%;
  height: 3%;
  margin-left: 3%;
  margin-top: 1%;
  float:left;
  transition: transform .3s;
}
.navbar,
.navbar-default,.navbar-dropdown {
    background-image: linear-gradient(to bottom, #000000 0, #000000 100%) !important;
    margin-bottom: 10%;
}
.logo_add_image:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.padding{
  padding-top:1%;
  padding-bottom:5%;
  padding-right:10%;
  padding-left:10%;
}
.cat{
  margin-top: 1.6%;
}
.overlay{
  margin-top: 6%;
}
.form-control{
  transition: transform .3s;
}
.validateLogin-button{
  width:100%;
}
.cats{
  margin-top: 1%;
}


.focus{
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 770px;
  max-height: 770px;
}
.parent-title{
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
}
.accueil-title{
  display:block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;;
  align-self: center;
  max-width: 60%;
  max-height: 60%;
}

.tableau_hovered{
  width: 200%;
  margin: auto;
  padding:auto;
}
/* .welcome-page {
  background-image: url("imgs/paezapp.png");
  background-color: #cccccc;
 } */

.accueil-button{
  display:block;
  margin-top: 0%;
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  transition: transform .2s;
}
.accueil-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.accueil_image{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 120%;
  max-height: 120%;
  align-self: center;
  justify-content: center;
}
.category{
  margin-top: 3%;
  margin-bottom: 3%;
}
.parent-accueil{
  width: 300px;
  height: 300px;
}

